<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Coming+Soon|Walter+Turncoat" rel="stylesheet">
		<title>Burger Time!</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
